<div class="blog-article">
  <div class="page-header">
    <h1 class="blog-title">{{article.title}}</h1>
    <small class="blog-date">{{article.date}}</small>
  </div>

  <div class="blog-cover">
    <img src="{{article.cover_image}}"/>
  </div>

  <ul class="blog-tags">
    <li ng-repeat="tag in article.tags"><span class="label label-primary">{{tag}}</span></li>
  </ul>

  <div class="blog-summary panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-11">
          <p ng-bind-html="article.summary"/>
        </div>
        <div class="col-sm-1">
          <span class="glyphicon glyphicon-chevron-down"></span>
          <span class="glyphicon glyphicon-chevron-up"></span>
        </div>
      </div>
    </div>
  </div>

  <p class="blog-content" ng-bind-html="article.content"/>

  <ul class="blog-related">
    <li class="col-xs-6 col-md-3" ng-repeat="related in article.related_articles">
      <a href="{{related.url}}">
        <div class="blog-cover thumbnail">
          <img src="{{related.cover_image}}"/>
          <h3 class="blog-title">{{related.title}}</h3>
        </div>
      </a>
    </li>
  </ul>
</div>
